@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-Strong-cyan: hsl(172, 67%, 45%);
  --neutral-Very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-Dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-Grayish-cyan: hsl(184, 14%, 56%);
  --neutral-Light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --neutral-White: hsl(0, 0%, 100%);

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-rg: 1.5rem;
  --space-md: 2rem;

  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-rg: 1.5rem;
  --text-md: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.35rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: var(--neutral-Light-grayish-cyan);

  @media (min-width: 50rem) {
    font-size: 1.5rem;
  }
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  font-weight: 700;
}

input {
  background-color: var(--neutral-Very-light-grayish-cyan);
  color: var(--neutral-Very-dark-cyan);
  width: 100%;

  &::placeholder {
    color: var(--neutral-Grayish-cyan);
  }
}

h2 {
  font-size: var(--text-sm);
  color: var(--neutral-Dark-grayish-cyan);
}

/* utility classes */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.padding-medium {
  padding: var(--space-md);
}

.padding-regular {
  padding: var(--space-rg);
}

.padding-small {
  padding: var(--text-sm);
}

.padding-xs {
  padding: var(--space-xs);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.round-sm {
  border-radius: 5px;
}

.round-md {
  border-radius: 0.5rem;
}

.round-lg {
  border-radius: 0.875rem;
}

.grid-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-r {
  gap: var(--space-rg);
}

.gap-md {
  gap: var(--space-md);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}

/* compositions */
.flow > * + * {
  margin-top: var(--space-md);
}

.flow-sm > * + * {
  margin-top: var(--space-sm);
}

.flow-xs > * + * {
  margin-top: var(--space-xs);
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* blocks */
header {
  display: grid;
  place-items: center;
}

.logo {
  max-width: 5rem;
}

.calculator {
  background-color: var(--neutral-White);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  max-inline-size: 22rem;
  margin-inline: auto;

  display: grid;
  grid-template-columns: auto;
  gap: 2rem;

  @media (min-width: 50rem) {
    max-inline-size: 55rem;
    grid-template-columns: 1fr 1fr;
  }
}

.bill-input-wrapper,
.people-input-wrapper {
  position: relative;
}

.bill-input-wrapper::before,
.people-input-wrapper::before {
  width: 2rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.bill-input-wrapper::before {
  content: url(./images/icon-dollar.svg);
}

.people-input-wrapper::before {
  content: url(./images/icon-person.svg);
}

.calculator__outputs {
  background-color: var(--neutral-Very-dark-cyan);
  margin-inline: -0.5rem;
  padding-block-start: 2rem;

  @media (min-width: 50rem) {
    margin-inline: 0;
    margin-block: -0.5rem;
  }
}

.calculator__reset {
  background-color: var(--primary-Strong-cyan);
  color: var(--neutral-Very-dark-cyan);
  cursor: pointer;

  @media (min-width: 50rem) {
    margin-block-start: auto;
  }
}

.tip__percentages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);

  @media (min-width: 50rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tip__percentage-btn {
  background-color: var(--neutral-Very-dark-cyan);
  color: var(--neutral-White);
  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--primary-Strong-cyan);
    color: var(--neutral-Very-dark-cyan);
  }
}

.calculator__output-text {
  color: var(--neutral-White);
  & > span + span {
    color: var(--neutral-Grayish-cyan);
    margin-top: 3px;
  }
}

.calculator__output-number {
  color: var(--primary-Strong-cyan);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
